
body {
    background-color: #ffb6c1;
}

h1 {
    font-family: arial;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background-color: #ADD8E6;
    padding: 20px;
    border-style: solid;
    border-color: gray;
    border-width: 1px
}
