<html>
<head>
  <title>Madlib Game</title>
</head>
<body>
    <form action='/madlib'>
        <label>Enter your name: 
            <input type='text' name='name'>
        </label>
        <br>
        <label>Choose a color:
            <select name='color'>
                <option value='blue'>Blue</option>
                <option value='green'>Green</option>
                <option value='red'>Red</option>
            </select>
        </label>
        <br>
        <label>Enter a noun: 
            <input type='text' name='noun'>
        </label>
        <br>
        <label>Choose adjective(s): 
            <input type='checkbox' name='adjectives' value='amiable'>Amiable
            <input type='checkbox' name='adjectives' value='burly'>Burly
            <input type='checkbox' name='adjectives' value='cheeky'>Cheeky
            <input type='checkbox' name='adjectives' value='dastardly'>Dastardly
        </label>       
        <br>
        <input type='submit'>
    </form>
</body>
</html>