{% extends 'base.html' %}
{% block title %}Madlib 1{% endblock %}
{% block content %}
    <p> 
        There once was a <b>{{ color }} {{ noun }}</b> sitting in the Hackbright Lab. When <b>{{ name }}</b> went to pick it up, it burst into flames

        {% if adjectives %}
            in a totally 
            {% for adj in adjectives %}
                {% if loop.last %}and{% endif %}
                <b>{{adj}}</b>{% if not loop.last %},{% endif %}
            {% endfor %}
            way
        {% endif %}.
    </p>
{% endblock %}